@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-Variable.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Satoshi';
	src: url('/fonts/Satoshi-VariableItalic.ttf');
	font-style: italic;
	font-display: swap;
}

@layer base {
	:root {
		--background: 349.7 100% 98%;
		--foreground: 349.7 5% 0%;
		--card: 349.7 50% 90%;
		--card-foreground: 349.7 5% 10%;
		--popover: 349.7 100% 95%;
		--popover-foreground: 349.7 100% 0%;
		--primary: 349.7 89.2% 60.2%;
		--primary-foreground: 0 0% 0%;
		--secondary: 349.7 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 311.7 30% 85%;
		--muted-foreground: 349.7 5% 35%;
		--accent: 311.7 30% 80%;
		--accent-foreground: 349.7 5% 10%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 349.7 5% 90%;
		--border: 349.7 30% 50%;
		--input: 349.7 30% 75%;
		--ring: 349.7 89.2% 60.2%;
		--radius: 0.3rem;
	}
	.dark {
		--background: 349.7 50% 5%;
		--foreground: 349.7 5% 90%;
		--card: 349.7 50% 0%;
		--card-foreground: 349.7 5% 90%;
		--popover: 349.7 50% 5%;
		--popover-foreground: 349.7 5% 90%;
		--primary: 349.7 89.2% 60.2%;
		--primary-foreground: 0 0% 0%;
		--secondary: 349.7 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 311.7 30% 15%;
		--muted-foreground: 349.7 5% 60%;
		--accent: 311.7 30% 15%;
		--accent-foreground: 349.7 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 349.7 5% 90%;
		--border: 349.7 30% 18%;
		--input: 349.7 30% 18%;
		--ring: 349.7 89.2% 60.2%;
		--radius: 0.3rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
